body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:238px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:111px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1863 {
  position:absolute;
  left:41px;
  top:45px;
  width:283px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1865 {
  position:absolute;
  left:66px;
  top:129px;
  width:94px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1867 {
  position:absolute;
  left:258px;
  top:129px;
  width:94px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1868 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
