body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:621px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:621px;
}
#u26 {
  position:absolute;
  left:2px;
  top:302px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
