body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:758px;
}
#u2651 {
  position:absolute;
  left:65px;
  top:27px;
  width:320px;
  height:758px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:371px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2653 {
  position:absolute;
  left:68px;
  top:30px;
  width:315px;
  height:40px;
}
#u2654 {
  position:absolute;
  left:2px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u2655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u2655 {
  position:absolute;
  left:76px;
  top:37px;
  width:13px;
  height:25px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2657 {
  position:absolute;
  left:100px;
  top:36px;
  width:29px;
  height:26px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u2659 {
  position:absolute;
  left:349px;
  top:729px;
  width:34px;
  height:35px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:73px;
}
#u2661 {
  position:absolute;
  left:76px;
  top:73px;
  width:300px;
  height:72px;
}
#u2662 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  word-wrap:break-word;
}
#u2663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2663 {
  position:absolute;
  left:76px;
  top:155px;
  width:77px;
  height:30px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u2665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2665 {
  position:absolute;
  left:153px;
  top:155px;
  width:112px;
  height:30px;
}
#u2666 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2667 {
  position:absolute;
  left:265px;
  top:155px;
  width:112px;
  height:30px;
}
#u2668 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2669 {
  position:absolute;
  left:76px;
  top:204px;
  width:77px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2670 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u2671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2671 {
  position:absolute;
  left:153px;
  top:204px;
  width:112px;
  height:40px;
}
#u2672 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u2673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2673 {
  position:absolute;
  left:265px;
  top:204px;
  width:111px;
  height:40px;
  color:#0000FF;
}
#u2674 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2676 {
  position:absolute;
  left:76px;
  top:246px;
  width:77px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  position:absolute;
  left:153px;
  top:246px;
  width:112px;
  height:40px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2680 {
  position:absolute;
  left:265px;
  top:246px;
  width:111px;
  height:40px;
  color:#0000FF;
}
#u2681 {
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
