body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u293 {
  position:absolute;
  left:12px;
  top:18px;
  width:347px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u294 {
  position:absolute;
  left:2px;
  top:246px;
  width:343px;
  word-wrap:break-word;
}
