body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:68px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:68px;
}
#u295 {
  position:absolute;
  left:2px;
  top:26px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:245px;
}
#u297 {
  position:absolute;
  left:0px;
  top:819px;
  width:1345px;
  height:245px;
}
#u298 {
  position:absolute;
  left:2px;
  top:114px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:573px;
}
#u299 {
  position:absolute;
  left:93px;
  top:89px;
  width:1027px;
  height:573px;
}
#u300 {
  position:absolute;
  left:2px;
  top:278px;
  width:1023px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u301 {
  position:absolute;
  left:91px;
  top:71px;
  width:109px;
  height:20px;
  text-decoration:underline;
}
#u302 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
