body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:595px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u1999 {
  position:absolute;
  left:56px;
  top:50px;
  width:310px;
  height:20px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:2px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u2001 {
  position:absolute;
  left:55px;
  top:70px;
  width:310px;
  height:1px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:180px;
}
#u2003 {
  position:absolute;
  left:53px;
  top:71px;
  width:314px;
  height:179px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:82px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:53px;
  top:260px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:53px;
  top:250px;
  width:315px;
  height:10px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:-3px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2009 {
  position:absolute;
  left:210px;
  top:260px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u2011 {
  position:absolute;
  left:62px;
  top:290px;
  width:140px;
  height:2px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u2013 {
  position:absolute;
  left:219px;
  top:290px;
  width:140px;
  height:2px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015 {
  position:absolute;
  left:53px;
  top:335px;
  width:315px;
  height:310px;
  overflow:hidden;
}
#u2015_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2015_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:238px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:238px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:111px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:1px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:279px;
  width:314px;
  height:1px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  position:absolute;
  left:123px;
  top:285px;
  width:57px;
  height:20px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:7px;
  top:10px;
  width:300px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:7px;
  top:50px;
  width:300px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  position:absolute;
  left:7px;
  top:90px;
  width:300px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:7px;
  top:130px;
  width:300px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:7px;
  top:170px;
  width:300px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2015_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:310px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2015_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:316px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:316px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:150px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:316px;
}
#u2034 {
  position:absolute;
  left:13px;
  top:0px;
  width:288px;
  height:316px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:150px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:19px;
  top:147px;
  width:282px;
  height:61px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:22px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:61px;
  top:300px;
  width:300px;
  height:35px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:112px;
  height:25px;
}
#u2040 {
  position:absolute;
  left:357px;
  top:275px;
  width:100px;
  height:5px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2042 {
  position:absolute;
  left:457px;
  top:250px;
  width:150px;
  height:50px;
}
#u2043 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:635px;
  top:50px;
  width:320px;
  height:595px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u2047 {
  position:absolute;
  left:641px;
  top:50px;
  width:310px;
  height:20px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:2px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u2049 {
  position:absolute;
  left:640px;
  top:70px;
  width:310px;
  height:1px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:180px;
}
#u2051 {
  position:absolute;
  left:638px;
  top:71px;
  width:314px;
  height:179px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:82px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:638px;
  top:260px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:10px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:638px;
  top:250px;
  width:315px;
  height:10px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:-3px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2057 {
  position:absolute;
  left:795px;
  top:260px;
  width:157px;
  height:30px;
  font-size:14px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u2059 {
  position:absolute;
  left:647px;
  top:290px;
  width:140px;
  height:2px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u2061 {
  position:absolute;
  left:804px;
  top:290px;
  width:140px;
  height:2px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063 {
  position:absolute;
  left:638px;
  top:335px;
  width:315px;
  height:310px;
  overflow:hidden;
}
#u2063_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2063_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:238px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:238px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:111px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:1px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:279px;
  width:314px;
  height:1px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:123px;
  top:285px;
  width:57px;
  height:20px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:7px;
  top:10px;
  width:300px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:7px;
  top:50px;
  width:300px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:7px;
  top:90px;
  width:300px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:7px;
  top:130px;
  width:300px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:7px;
  top:170px;
  width:300px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2063_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:310px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2063_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:316px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:316px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:150px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:316px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:316px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:150px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:5px;
  top:146px;
  width:308px;
  height:61px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:22px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:646px;
  top:300px;
  width:300px;
  height:35px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2088 {
  position:absolute;
  left:641px;
  top:82px;
  width:22px;
  height:22px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2090 {
  position:absolute;
  left:928px;
  top:70px;
  width:22px;
  height:22px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:639px;
  top:469px;
  width:312px;
  height:176px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:80px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  position:absolute;
  left:639px;
  top:588px;
  width:312px;
  height:57px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:20px;
  width:308px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:70px;
}
#u2096 {
  position:absolute;
  left:885px;
  top:497px;
  width:50px;
  height:70px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:27px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:70px;
}
#u2098 {
  position:absolute;
  left:651px;
  top:497px;
  width:54px;
  height:70px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:27px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:70px;
}
#u2100 {
  position:absolute;
  left:730px;
  top:497px;
  width:54px;
  height:70px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:27px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:66px;
}
#u2102 {
  position:absolute;
  left:810px;
  top:497px;
  width:49px;
  height:66px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:25px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:406px;
  top:618px;
  width:57px;
  height:20px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:179px;
}
#u2106 {
  position:absolute;
  left:53px;
  top:71px;
  width:314px;
  height:179px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:82px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:406px;
  top:638px;
  width:57px;
  height:20px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2110 {
  position:absolute;
  left:56px;
  top:82px;
  width:22px;
  height:22px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2112 {
  position:absolute;
  left:344px;
  top:71px;
  width:22px;
  height:22px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:398px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:638px;
  top:71px;
  width:314px;
  height:398px;
  opacity:0.7;
}
#u2115 {
  position:absolute;
  left:2px;
  top:191px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2116 {
  position:absolute;
  left:928px;
  top:71px;
  width:22px;
  height:22px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
