body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:964px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:964px;
}
#u32 {
  position:absolute;
  left:2px;
  top:474px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
