body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:758px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:758px;
}
#u1 {
  position:absolute;
  left:2px;
  top:371px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:40px;
  width:52px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:0px;
  top:233px;
  width:414px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:305px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:0px;
  top:460px;
  width:409px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:355px;
  top:415px;
  width:59px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:62px;
  top:40px;
  width:307px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:285px;
}
#u8 {
  position:absolute;
  left:0px;
  top:617px;
  width:409px;
  height:285px;
}
#u9 {
  position:absolute;
  left:2px;
  top:134px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:47px;
}
#u10 {
  position:absolute;
  left:0px;
  top:912px;
  width:396px;
  height:47px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:347px;
  top:617px;
  width:62px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:7px;
  top:658px;
  width:389px;
  height:157px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:21px;
  top:912px;
  width:86px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:155px;
  top:912px;
  width:86px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:290px;
  top:912px;
  width:86px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
