body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:636px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:636px;
}
#u908 {
  position:absolute;
  left:2px;
  top:310px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u909 {
  position:absolute;
  left:21px;
  top:93px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u912 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:1157px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u916 {
  position:absolute;
  left:2px;
  top:28px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:26px;
  top:140px;
  width:150px;
  height:245px;
}
#u917_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u919 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u919_img.selected {
}
#u919.selected {
}
#u920 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u922 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u918_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u925 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u926 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u928 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u929 {
  position:absolute;
  left:0px;
  top:60px;
  width:145px;
  height:20px;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u930 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u930_img.selected {
}
#u930.selected {
}
#u931 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u933 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u929_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u936 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u937 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u939 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u940 {
  position:absolute;
  left:20px;
  top:60px;
  width:111px;
  height:20px;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:22px;
  top:0px;
  width:89px;
  height:20px;
}
#u942 {
  position:absolute;
  left:3px;
  top:2px;
  width:84px;
  white-space:nowrap;
}
#u943 {
  position:absolute;
  left:0px;
  top:140px;
  width:145px;
  height:20px;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u944 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u944_img.selected {
}
#u944.selected {
}
#u945 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u947 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u943_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u950 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u951 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u953 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u954 {
  position:absolute;
  left:20px;
  top:60px;
  width:111px;
  height:20px;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:22px;
  top:0px;
  width:89px;
  height:20px;
}
#u956 {
  position:absolute;
  left:3px;
  top:2px;
  width:84px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:0px;
  top:220px;
  width:80px;
  height:20px;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u959 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:1239px;
  top:82px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:2px;
}
#u962 {
  position:absolute;
  left:214px;
  top:133px;
  width:1131px;
  height:1px;
}
#u963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:214px;
  top:107px;
  width:57px;
  height:16px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u966 {
  position:absolute;
  left:416px;
  top:173px;
  width:85px;
  height:22px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u966_input:disabled {
  color:grayText;
}
#u967 {
  position:absolute;
  left:299px;
  top:173px;
  width:85px;
  height:22px;
}
#u967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u967_input:disabled {
  color:grayText;
}
#u968 {
  position:absolute;
  left:532px;
  top:173px;
  width:85px;
  height:22px;
}
#u968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u968_input:disabled {
  color:grayText;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u969 {
  position:absolute;
  left:214px;
  top:209px;
  width:84px;
  height:16px;
  color:#666666;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  position:absolute;
  left:287px;
  top:397px;
  width:294px;
  height:22px;
}
#u974 {
  position:absolute;
  left:2px;
  top:3px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:287px;
  top:258px;
  width:294px;
  height:139px;
}
#u976 {
  position:absolute;
  left:2px;
  top:62px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u977 {
  position:absolute;
  left:295px;
  top:404px;
  width:275px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u979 {
  position:absolute;
  left:287px;
  top:453px;
  width:100px;
  height:16px;
}
#u980 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u979_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u981 {
  position:absolute;
  left:397px;
  top:449px;
  width:300px;
  height:25px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u982 {
  position:absolute;
  left:287px;
  top:503px;
  width:100px;
  height:16px;
}
#u983 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u982_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:374px;
  top:503px;
  width:140px;
  height:40px;
}
#u985 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:573px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:710px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:252px;
  height:25px;
}
#u990 {
  position:absolute;
  left:928px;
  top:521px;
  width:240px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u991 {
  position:absolute;
  left:2px;
  top:-10px;
  width:236px;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:1193px;
  top:511px;
  width:100px;
  height:16px;
}
#u993 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u994 {
  position:absolute;
  left:1215px;
  top:537px;
  width:300px;
  height:170px;
}
#u995 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:1295px;
  top:576px;
  width:140px;
  height:40px;
}
#u997 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:1295px;
  top:626px;
  width:140px;
  height:40px;
}
#u999 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:80px;
  color:#CCCCCC;
}
#u1000 {
  position:absolute;
  left:406px;
  top:282px;
  width:57px;
  height:86px;
  font-size:80px;
  color:#CCCCCC;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1002 {
  position:absolute;
  left:1479px;
  top:525px;
  width:44px;
  height:40px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1004 {
  position:absolute;
  left:215px;
  top:179px;
  width:84px;
  height:16px;
  color:#666666;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1006 {
  position:absolute;
  left:215px;
  top:147px;
  width:84px;
  height:16px;
  color:#666666;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1008 {
  position:absolute;
  left:300px;
  top:141px;
  width:206px;
  height:28px;
}
#u1008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:522px;
  top:145px;
  width:96px;
  height:16px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1011 {
  position:absolute;
  left:645px;
  top:179px;
  width:84px;
  height:16px;
  color:#666666;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1013 {
  position:absolute;
  left:698px;
  top:170px;
  width:127px;
  height:28px;
}
#u1013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:835px;
  top:176px;
  width:96px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
