body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:331px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:726px;
  top:379px;
  width:43px;
  height:16px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1860 {
  position:absolute;
  left:779px;
  top:369px;
  width:34px;
  height:34px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1862 {
  position:absolute;
  left:813px;
  top:369px;
  width:36px;
  height:34px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1864 {
  position:absolute;
  left:849px;
  top:369px;
  width:35px;
  height:35px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866 {
  position:absolute;
  left:330px;
  top:162px;
  width:418px;
  height:450px;
  overflow:hidden;
  visibility:hidden;
}
#u1866_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1866_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:361px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:172px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1869 {
  position:absolute;
  left:17px;
  top:20px;
  width:97px;
  height:14px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1871 {
  position:absolute;
  left:7px;
  top:47px;
  width:349px;
  height:1px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u1873 {
  position:absolute;
  left:319px;
  top:16px;
  width:24px;
  height:26px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1875 {
  position:absolute;
  left:75px;
  top:73px;
  width:200px;
  height:200px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1877 {
  position:absolute;
  left:7px;
  top:298px;
  width:349px;
  height:1px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1879 {
  position:absolute;
  left:17px;
  top:309px;
  width:326px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u1881 {
  position:absolute;
  left:300px;
  top:3px;
  width:62px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
