body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:889px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:578px;
}
#u2645 {
  position:absolute;
  left:99px;
  top:161px;
  width:790px;
  height:578px;
}
#u2646 {
  position:absolute;
  left:2px;
  top:281px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2647 {
  position:absolute;
  left:119px;
  top:613px;
  width:485px;
  height:141px;
}
#u2648 {
  position:absolute;
  left:2px;
  top:62px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2649 {
  position:absolute;
  left:119px;
  top:613px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u2650 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u2651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2651 {
  position:absolute;
  left:144px;
  top:613px;
  width:460px;
  height:25px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:4px;
  width:456px;
  word-wrap:break-word;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2653 {
  position:absolute;
  left:119px;
  top:688px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u2654 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u2655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2655 {
  position:absolute;
  left:144px;
  top:647px;
  width:460px;
  height:27px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:6px;
  width:456px;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u2657 {
  position:absolute;
  left:144px;
  top:631px;
  width:35px;
  height:16px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u2659 {
  position:absolute;
  left:535px;
  top:651px;
  width:63px;
  height:20px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
