body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:88px;
}
#u2879 {
  position:absolute;
  left:9px;
  top:71px;
  width:436px;
  height:88px;
}
#u2880 {
  position:absolute;
  left:2px;
  top:36px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2881 {
  position:absolute;
  left:407px;
  top:136px;
  width:27px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u2882 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
