body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1289 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  position:absolute;
  left:53px;
  top:53px;
  width:315px;
  height:40px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u1293 {
  position:absolute;
  left:61px;
  top:60px;
  width:13px;
  height:25px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1295 {
  position:absolute;
  left:56px;
  top:207px;
  width:305px;
  height:133px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1297 {
  position:absolute;
  left:56px;
  top:350px;
  width:305px;
  height:133px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1299 {
  position:absolute;
  left:56px;
  top:493px;
  width:305px;
  height:133px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:116px;
}
#u1301 {
  position:absolute;
  left:56px;
  top:94px;
  width:309px;
  height:115px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:50px;
  width:305px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u1303 {
  position:absolute;
  left:85px;
  top:59px;
  width:29px;
  height:26px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
