body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u5612 {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u5613 {
  position:absolute;
  left:2px;
  top:331px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5614 {
  position:absolute;
  left:726px;
  top:379px;
  width:43px;
  height:20px;
}
#u5615 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5616 {
  position:absolute;
  left:779px;
  top:369px;
  width:34px;
  height:34px;
}
#u5617 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u5618 {
  position:absolute;
  left:813px;
  top:369px;
  width:36px;
  height:34px;
}
#u5619 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5620 {
  position:absolute;
  left:849px;
  top:369px;
  width:35px;
  height:35px;
}
#u5621 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622 {
  position:absolute;
  left:330px;
  top:162px;
  width:418px;
  height:450px;
  overflow:hidden;
  visibility:hidden;
}
#u5622_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5622_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5623 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:361px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:172px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5625 {
  position:absolute;
  left:17px;
  top:20px;
  width:97px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5626 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u5627 {
  position:absolute;
  left:7px;
  top:47px;
  width:349px;
  height:1px;
}
#u5628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5629 {
  position:absolute;
  left:319px;
  top:16px;
  width:24px;
  height:26px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5631 {
  position:absolute;
  left:75px;
  top:73px;
  width:200px;
  height:200px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u5633 {
  position:absolute;
  left:7px;
  top:298px;
  width:349px;
  height:1px;
}
#u5634 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5635 {
  position:absolute;
  left:17px;
  top:309px;
  width:326px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5636 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u5637 {
  position:absolute;
  left:300px;
  top:3px;
  width:62px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
