body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:72px;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:72px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:28px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:152px;
}
#u2057 {
  position:absolute;
  left:-4px;
  top:1099px;
  width:1340px;
  height:152px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:68px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:341px;
}
#u2059 {
  position:absolute;
  left:346px;
  top:159px;
  width:464px;
  height:341px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:162px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:320px;
}
#u2061 {
  position:absolute;
  left:346px;
  top:516px;
  width:505px;
  height:320px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:152px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:41px;
  top:132px;
  width:140px;
  height:28px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  position:absolute;
  left:41px;
  top:161px;
  width:140px;
  height:28px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:41px;
  top:190px;
  width:140px;
  height:28px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:41px;
  top:248px;
  width:140px;
  height:28px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2072 {
  position:absolute;
  left:41px;
  top:277px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2073 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2074 {
  position:absolute;
  left:41px;
  top:306px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2075 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:41px;
  top:335px;
  width:140px;
  height:28px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2078 {
  position:absolute;
  left:41px;
  top:364px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2079 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2080 {
  position:absolute;
  left:41px;
  top:394px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2081 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2082 {
  position:absolute;
  left:41px;
  top:539px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2083 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:41px;
  top:568px;
  width:140px;
  height:28px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:41px;
  top:219px;
  width:140px;
  height:28px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2088 {
  position:absolute;
  left:41px;
  top:423px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2089 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2090 {
  position:absolute;
  left:41px;
  top:452px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2091 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2092 {
  position:absolute;
  left:41px;
  top:481px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2093 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2094 {
  position:absolute;
  left:41px;
  top:510px;
  width:140px;
  height:28px;
  font-size:12px;
  color:#1E1E1E;
}
#u2095 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:595px;
  top:92px;
  width:57px;
  height:16px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
