body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:357px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  position:absolute;
  left:198px;
  top:83px;
  width:495px;
  height:357px;
}
#u362 {
  position:absolute;
  left:2px;
  top:170px;
  width:491px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u363 {
  position:absolute;
  left:198px;
  top:83px;
  width:495px;
  height:43px;
  font-size:20px;
  color:#FFFFFF;
}
#u364 {
  position:absolute;
  left:2px;
  top:10px;
  width:491px;
  word-wrap:break-word;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u365 {
  position:absolute;
  left:337px;
  top:364px;
  width:94px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u366 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u367 {
  position:absolute;
  left:508px;
  top:364px;
  width:94px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u368 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:1px;
}
#u369 {
  position:absolute;
  left:263px;
  top:181px;
  width:71px;
  height:1px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u371 {
  position:absolute;
  left:352px;
  top:181px;
  width:269px;
  height:20px;
}
#u371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
