body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:482px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:482px;
}
#u30 {
  position:absolute;
  left:2px;
  top:233px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
