body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:83px;
}
#u3550 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:83px;
}
#u3551 {
  position:absolute;
  left:2px;
  top:34px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(35, 95, 163, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3552 {
  position:absolute;
  left:1087px;
  top:29px;
  width:88px;
  height:26px;
}
#u3553 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3554 {
  position:absolute;
  left:1089px;
  top:32px;
  width:15px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3555 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
  background:inherit;
  background-color:rgba(35, 95, 163, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3556 {
  position:absolute;
  left:1197px;
  top:16px;
  width:52px;
  height:50px;
}
#u3557 {
  position:absolute;
  left:2px;
  top:17px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3558 {
  position:absolute;
  left:225px;
  top:141px;
  width:397px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u3559 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u3560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:367px;
}
#u3560 {
  position:absolute;
  left:225px;
  top:290px;
  width:396px;
  height:367px;
}
#u3561 {
  position:absolute;
  left:2px;
  top:176px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
