body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u795 {
  position:absolute;
  left:198px;
  top:83px;
  width:906px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u796 {
  position:absolute;
  left:2px;
  top:13px;
  width:902px;
  word-wrap:break-word;
}
#u797 {
  position:absolute;
  left:198px;
  top:192px;
  width:911px;
  height:425px;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u799 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u800 {
  position:absolute;
  left:54px;
  top:0px;
  width:69px;
  height:35px;
}
#u801 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u802 {
  position:absolute;
  left:123px;
  top:0px;
  width:147px;
  height:35px;
}
#u803 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u804 {
  position:absolute;
  left:270px;
  top:0px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u805 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u806 {
  position:absolute;
  left:395px;
  top:0px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u807 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u808 {
  position:absolute;
  left:498px;
  top:0px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u809 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u810 {
  position:absolute;
  left:586px;
  top:0px;
  width:320px;
  height:35px;
}
#u811 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u812 {
  position:absolute;
  left:0px;
  top:35px;
  width:54px;
  height:35px;
}
#u813 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u814 {
  position:absolute;
  left:54px;
  top:35px;
  width:69px;
  height:35px;
}
#u815 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u816 {
  position:absolute;
  left:123px;
  top:35px;
  width:147px;
  height:35px;
}
#u817 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u818 {
  position:absolute;
  left:270px;
  top:35px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u819 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u820 {
  position:absolute;
  left:395px;
  top:35px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u821 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u822 {
  position:absolute;
  left:498px;
  top:35px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u823 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u824 {
  position:absolute;
  left:586px;
  top:35px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u825 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u826 {
  position:absolute;
  left:0px;
  top:70px;
  width:54px;
  height:35px;
}
#u827 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u828 {
  position:absolute;
  left:54px;
  top:70px;
  width:69px;
  height:35px;
}
#u829 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u830 {
  position:absolute;
  left:123px;
  top:70px;
  width:147px;
  height:35px;
}
#u831 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u832 {
  position:absolute;
  left:270px;
  top:70px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u833 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u834 {
  position:absolute;
  left:395px;
  top:70px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u835 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u836 {
  position:absolute;
  left:498px;
  top:70px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u837 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u838 {
  position:absolute;
  left:586px;
  top:70px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u839 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u840 {
  position:absolute;
  left:0px;
  top:105px;
  width:54px;
  height:35px;
}
#u841 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u842 {
  position:absolute;
  left:54px;
  top:105px;
  width:69px;
  height:35px;
}
#u843 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u844 {
  position:absolute;
  left:123px;
  top:105px;
  width:147px;
  height:35px;
}
#u845 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u846 {
  position:absolute;
  left:270px;
  top:105px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u848 {
  position:absolute;
  left:395px;
  top:105px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u849 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u850 {
  position:absolute;
  left:498px;
  top:105px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u851 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u852 {
  position:absolute;
  left:586px;
  top:105px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u853 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u854 {
  position:absolute;
  left:0px;
  top:140px;
  width:54px;
  height:35px;
}
#u855 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u856 {
  position:absolute;
  left:54px;
  top:140px;
  width:69px;
  height:35px;
}
#u857 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u858 {
  position:absolute;
  left:123px;
  top:140px;
  width:147px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u859 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u860 {
  position:absolute;
  left:270px;
  top:140px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u862 {
  position:absolute;
  left:395px;
  top:140px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u864 {
  position:absolute;
  left:498px;
  top:140px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u865 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u866 {
  position:absolute;
  left:586px;
  top:140px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u867 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u868 {
  position:absolute;
  left:0px;
  top:175px;
  width:54px;
  height:35px;
}
#u869 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u870 {
  position:absolute;
  left:54px;
  top:175px;
  width:69px;
  height:35px;
}
#u871 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u872 {
  position:absolute;
  left:123px;
  top:175px;
  width:147px;
  height:35px;
}
#u873 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u874 {
  position:absolute;
  left:270px;
  top:175px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u876 {
  position:absolute;
  left:395px;
  top:175px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u877 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u878 {
  position:absolute;
  left:498px;
  top:175px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u879 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u880 {
  position:absolute;
  left:586px;
  top:175px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u881 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u882 {
  position:absolute;
  left:0px;
  top:210px;
  width:54px;
  height:35px;
}
#u883 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u884 {
  position:absolute;
  left:54px;
  top:210px;
  width:69px;
  height:35px;
}
#u885 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u886 {
  position:absolute;
  left:123px;
  top:210px;
  width:147px;
  height:35px;
}
#u887 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u888 {
  position:absolute;
  left:270px;
  top:210px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u890 {
  position:absolute;
  left:395px;
  top:210px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u892 {
  position:absolute;
  left:498px;
  top:210px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u894 {
  position:absolute;
  left:586px;
  top:210px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u895 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u896 {
  position:absolute;
  left:0px;
  top:245px;
  width:54px;
  height:35px;
}
#u897 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u898 {
  position:absolute;
  left:54px;
  top:245px;
  width:69px;
  height:35px;
}
#u899 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u900 {
  position:absolute;
  left:123px;
  top:245px;
  width:147px;
  height:35px;
}
#u901 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u902 {
  position:absolute;
  left:270px;
  top:245px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u904 {
  position:absolute;
  left:395px;
  top:245px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u905 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u906 {
  position:absolute;
  left:498px;
  top:245px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u907 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u908 {
  position:absolute;
  left:586px;
  top:245px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u909 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u910 {
  position:absolute;
  left:0px;
  top:280px;
  width:54px;
  height:35px;
}
#u911 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u912 {
  position:absolute;
  left:54px;
  top:280px;
  width:69px;
  height:35px;
}
#u913 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u914 {
  position:absolute;
  left:123px;
  top:280px;
  width:147px;
  height:35px;
}
#u915 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u916 {
  position:absolute;
  left:270px;
  top:280px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u918 {
  position:absolute;
  left:395px;
  top:280px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u919 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u920 {
  position:absolute;
  left:498px;
  top:280px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u921 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u922 {
  position:absolute;
  left:586px;
  top:280px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u923 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u924 {
  position:absolute;
  left:0px;
  top:315px;
  width:54px;
  height:35px;
}
#u925 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u926 {
  position:absolute;
  left:54px;
  top:315px;
  width:69px;
  height:35px;
}
#u927 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u928 {
  position:absolute;
  left:123px;
  top:315px;
  width:147px;
  height:35px;
}
#u929 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u930 {
  position:absolute;
  left:270px;
  top:315px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u932 {
  position:absolute;
  left:395px;
  top:315px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u933 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u934 {
  position:absolute;
  left:498px;
  top:315px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u935 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u936 {
  position:absolute;
  left:586px;
  top:315px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u937 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u938 {
  position:absolute;
  left:0px;
  top:350px;
  width:54px;
  height:35px;
}
#u939 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u940 {
  position:absolute;
  left:54px;
  top:350px;
  width:69px;
  height:35px;
}
#u941 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u942 {
  position:absolute;
  left:123px;
  top:350px;
  width:147px;
  height:35px;
}
#u943 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u944 {
  position:absolute;
  left:270px;
  top:350px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u946 {
  position:absolute;
  left:395px;
  top:350px;
  width:103px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u948 {
  position:absolute;
  left:498px;
  top:350px;
  width:88px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u950 {
  position:absolute;
  left:586px;
  top:350px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u951 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u952 {
  position:absolute;
  left:0px;
  top:385px;
  width:54px;
  height:35px;
}
#u953 {
  position:absolute;
  left:2px;
  top:10px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u954 {
  position:absolute;
  left:54px;
  top:385px;
  width:69px;
  height:35px;
}
#u955 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
}
#u956 {
  position:absolute;
  left:123px;
  top:385px;
  width:147px;
  height:35px;
}
#u957 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u958 {
  position:absolute;
  left:270px;
  top:385px;
  width:125px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u959 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u960 {
  position:absolute;
  left:395px;
  top:385px;
  width:103px;
  height:35px;
}
#u961 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u962 {
  position:absolute;
  left:498px;
  top:385px;
  width:88px;
  height:35px;
}
#u963 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u964 {
  position:absolute;
  left:586px;
  top:385px;
  width:320px;
  height:35px;
  color:#0033FF;
}
#u965 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u966 {
  position:absolute;
  left:830px;
  top:235px;
  width:50px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u967 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u968 {
  position:absolute;
  left:949px;
  top:235px;
  width:50px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0033FF;
}
#u969 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:214px;
  top:273px;
  width:11px;
  height:16px;
}
#u971 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u972 {
  position:absolute;
  left:214px;
  top:305px;
  width:17px;
  height:16px;
}
#u973 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u974 {
  position:absolute;
  left:214px;
  top:344px;
  width:24px;
  height:16px;
}
#u975 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u976 {
  position:absolute;
  left:214px;
  top:377px;
  width:24px;
  height:16px;
}
#u977 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u978 {
  position:absolute;
  left:214px;
  top:417px;
  width:24px;
  height:16px;
}
#u979 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u980 {
  position:absolute;
  left:214px;
  top:451px;
  width:24px;
  height:16px;
}
#u981 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u982 {
  position:absolute;
  left:214px;
  top:486px;
  width:24px;
  height:16px;
}
#u983 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u984 {
  position:absolute;
  left:214px;
  top:520px;
  width:24px;
  height:16px;
}
#u985 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:49px;
}
#u986 {
  position:absolute;
  left:253px;
  top:675px;
  width:673px;
  height:49px;
}
#u987 {
  position:absolute;
  left:2px;
  top:16px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:198px;
  top:133px;
  width:906px;
  height:59px;
}
#u990 {
  position:absolute;
  left:2px;
  top:22px;
  width:902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 {
  position:absolute;
  left:694px;
  top:143px;
  width:103px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u992 {
  position:absolute;
  left:2px;
  top:9px;
  width:99px;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:214px;
  top:229px;
  width:24px;
  height:16px;
}
#u994 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u995 {
  position:absolute;
  left:214px;
  top:557px;
  width:24px;
  height:16px;
}
#u996 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u997 {
  position:absolute;
  left:214px;
  top:590px;
  width:24px;
  height:16px;
}
#u998 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:83px;
}
#u1000 {
  position:absolute;
  left:-260px;
  top:0px;
  width:1364px;
  height:83px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:34px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(35, 95, 163, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:827px;
  top:29px;
  width:88px;
  height:26px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:829px;
  top:32px;
  width:15px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
  background:inherit;
  background-color:rgba(35, 95, 163, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:937px;
  top:16px;
  width:52px;
  height:50px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:17px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009 {
  position:absolute;
  left:0px;
  top:129px;
  width:149px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009.mouseOver {
}
#u1009_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009.mouseDown {
}
#u1009_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009.selected {
}
#u1010 {
  position:absolute;
  left:2px;
  top:15px;
  width:145px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011 {
  position:absolute;
  left:0px;
  top:175px;
  width:149px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011.mouseOver {
}
#u1011_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011.mouseDown {
}
#u1011_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011.selected {
}
#u1012 {
  position:absolute;
  left:2px;
  top:15px;
  width:145px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:0px;
  top:221px;
  width:149px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013.mouseOver {
}
#u1013_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013.mouseDown {
}
#u1013_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1013.selected {
}
#u1014 {
  position:absolute;
  left:2px;
  top:15px;
  width:145px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015 {
  position:absolute;
  left:0px;
  top:267px;
  width:149px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015.mouseOver {
}
#u1015_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015.mouseDown {
}
#u1015_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015.selected {
}
#u1016 {
  position:absolute;
  left:2px;
  top:15px;
  width:145px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1017 {
  position:absolute;
  left:0px;
  top:354px;
  width:197px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1018 {
  position:absolute;
  left:2px;
  top:15px;
  width:193px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:0px;
  top:83px;
  width:149px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019.mouseOver {
}
#u1019_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019.mouseDown {
}
#u1019_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019.selected {
}
#u1020 {
  position:absolute;
  left:2px;
  top:15px;
  width:145px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1021 {
  position:absolute;
  left:883px;
  top:143px;
  width:103px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1022 {
  position:absolute;
  left:2px;
  top:9px;
  width:99px;
  word-wrap:break-word;
}
