body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:758px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:758px;
}
#u18 {
  position:absolute;
  left:2px;
  top:371px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
