body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:457px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:544px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:264px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2077 {
  position:absolute;
  left:-8px;
  top:0px;
  width:465px;
  height:57px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2078 {
  position:absolute;
  left:2px;
  top:19px;
  width:461px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u2079 {
  position:absolute;
  left:426px;
  top:14px;
  width:31px;
  height:29px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:31px;
  top:134px;
  width:71px;
  height:20px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2083 {
  position:absolute;
  left:100px;
  top:447px;
  width:111px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2084 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2085 {
  position:absolute;
  left:292px;
  top:447px;
  width:111px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2086 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:31px;
  top:191px;
  width:71px;
  height:20px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089 {
  position:absolute;
  left:31px;
  top:248px;
  width:71px;
  height:20px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:31px;
  top:301px;
  width:71px;
  height:20px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2093 {
  position:absolute;
  left:31px;
  top:351px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2095 {
  position:absolute;
  left:129px;
  top:348px;
  width:287px;
  height:31px;
}
#u2095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u2096 {
  position:absolute;
  left:102px;
  top:248px;
  width:19px;
  height:20px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u2098 {
  position:absolute;
  left:102px;
  top:301px;
  width:19px;
  height:20px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:100px;
  top:351px;
  width:19px;
  height:20px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2102 {
  position:absolute;
  left:112px;
  top:134px;
  width:175px;
  height:20px;
  font-size:13px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2104 {
  position:absolute;
  left:77px;
  top:191px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u2106 {
  position:absolute;
  left:129px;
  top:403px;
  width:285px;
  height:27px;
}
#u2106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:131px;
  top:298px;
  width:285px;
  height:27px;
}
#u2107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:131px;
  top:245px;
  width:285px;
  height:27px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:27px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
