body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:661px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:660px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:308px;
  width:813px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:688px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u8 {
  position:absolute;
  left:817px;
  top:-28px;
  width:401px;
  height:688px;
  color:#6B6B6B;
}
#u9 {
  position:absolute;
  left:2px;
  top:336px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:370px;
}
#u10 {
  position:absolute;
  left:816px;
  top:131px;
  width:396px;
  height:370px;
}
#u11 {
  position:absolute;
  left:2px;
  top:177px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
