body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:255px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:269px;
  width:381px;
  height:254px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:284px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:58px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:255px;
  width:29px;
  height:57px;
  font-size:48px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:328px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:363px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:660px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:201px;
  height:660px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:81px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:0px;
  width:1165px;
  height:81px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:34px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1366px;
  height:34px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:38px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:83px;
  width:1167px;
  height:37px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:657px;
  width:51px;
  height:16px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:638px;
  width:108px;
  height:44px;
  font-size:16px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
  text-align:left;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:139px;
  width:35px;
  height:25px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:194px;
  width:176px;
  height:29px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:196px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:196px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:192px;
  width:176px;
  height:29px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:265px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:258px;
  width:126px;
  height:32px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u966_input:disabled {
  color:grayText;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:258px;
  width:125px;
  height:32px;
}
#u967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u967_input:disabled {
  color:grayText;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:258px;
  width:125px;
  height:32px;
}
#u968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u968_input:disabled {
  color:grayText;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:258px;
  width:125px;
  height:32px;
}
#u969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u969_input:disabled {
  color:grayText;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:263px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:261px;
  width:112px;
  height:29px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:2px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:273px;
  width:23px;
  height:1px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:262px;
  width:115px;
  height:29px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:193px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:191px;
  width:115px;
  height:29px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:226px;
  width:26px;
  height:20px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:2px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:208px;
  width:23px;
  height:1px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:193px;
  width:115px;
  height:29px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:227px;
  width:26px;
  height:20px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:332px;
  width:115px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:424px;
  width:1058px;
  height:140px;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:41px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:0px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:246px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:242px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:41px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:0px;
  width:242px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:238px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:47px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:88px;
  height:46px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:47px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:200px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:40px;
  width:132px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:47px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:40px;
  width:246px;
  height:46px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:40px;
  width:150px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:47px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:40px;
  width:242px;
  height:46px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:238px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:55px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:88px;
  height:54px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:55px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:86px;
  width:200px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:55px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:86px;
  width:132px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:128px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:55px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:86px;
  width:246px;
  height:54px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:242px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:86px;
  width:150px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:55px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:86px;
  width:242px;
  height:54px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:238px;
  word-wrap:break-word;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:479px;
  width:97px;
  height:16px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:527px;
  width:97px;
  height:16px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:478px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1002_ann {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:474px;
  width:1px;
  height:1px;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:51px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:564px;
  width:1058px;
  height:50px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1054px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:575px;
  width:44px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:578px;
  width:20px;
  height:20px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:435px;
  width:97px;
  height:16px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:76px;
  width:1161px;
  height:527px;
  overflow:hidden;
  visibility:hidden;
}
#u1007_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:527px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1007_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:530px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:529px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:409px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:63px;
  width:524px;
  height:408px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:17px;
  width:15px;
  height:17px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:349px;
  width:120px;
  height:34px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:349px;
  width:122px;
  height:34px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:105px;
  width:121px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:158px;
  width:100px;
  height:18px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1014_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:206px;
  width:100px;
  height:18px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1015_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:258px;
  width:169px;
  height:18px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1016_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:245px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:194px;
  width:423px;
  height:244px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:209px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:244px;
  width:337px;
  height:109px;
}
#u1020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:378px;
  width:140px;
  height:40px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:378px;
  width:140px;
  height:40px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:194px;
  width:20px;
  height:22px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:526px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1024_ann {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:522px;
  width:1px;
  height:1px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:478px;
  width:59px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1025_ann {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:474px;
  width:1px;
  height:1px;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
