body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2461 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:595px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:20px;
}
#u2464 {
  position:absolute;
  left:56px;
  top:50px;
  width:310px;
  height:20px;
}
#u2465 {
  position:absolute;
  left:2px;
  top:2px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u2466 {
  position:absolute;
  left:55px;
  top:70px;
  width:310px;
  height:1px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:574px;
}
#u2468 {
  position:absolute;
  left:50px;
  top:71px;
  width:316px;
  height:574px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:279px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
}
#u2470 {
  position:absolute;
  left:66px;
  top:163px;
  width:49px;
  height:51px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2472 {
  position:absolute;
  left:115px;
  top:150px;
  width:63px;
  height:19px;
  font-size:12px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:155px;
}
#u2474 {
  position:absolute;
  left:66px;
  top:255px;
  width:286px;
  height:155px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:70px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2476 {
  position:absolute;
  left:67px;
  top:420px;
  width:286px;
  height:123px;
  text-align:left;
}
#u2477 {
  position:absolute;
  left:2px;
  top:14px;
  width:282px;
  word-wrap:break-word;
}
