body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:639px;
}
#u5608 {
  position:absolute;
  left:-201px;
  top:-55px;
  width:1366px;
  height:639px;
}
#u5609 {
  position:absolute;
  left:2px;
  top:312px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5610 {
  position:absolute;
  left:499px;
  top:30px;
  width:328px;
  height:21px;
}
#u5611 {
  position:absolute;
  left:2px;
  top:2px;
  width:324px;
  word-wrap:break-word;
}
