body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:68px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:68px;
}
#u554 {
  position:absolute;
  left:2px;
  top:26px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:245px;
}
#u556 {
  position:absolute;
  left:0px;
  top:819px;
  width:1345px;
  height:245px;
}
#u557 {
  position:absolute;
  left:2px;
  top:114px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:579px;
}
#u558 {
  position:absolute;
  left:73px;
  top:96px;
  width:1040px;
  height:579px;
}
#u559 {
  position:absolute;
  left:2px;
  top:282px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
